# Встановлює загальне правило для всіх текстових файлів з автоматичним визначенням кінців рядків
* text=auto

# Для конкретних типів файлів задаємо кінці рядків
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf

# Для бінарних файлів встановлюємо, щоб Git не змінював кінці рядків
*.jpg binary
*.png binary
*.pdf binary

# Для спеціальних типів файлів, як Windows-скрипти, зберігаємо CRLF
*.bat text eol=crlf
*.sh text eol=lf
